/*=================================================================*/
/*=               This is the styling for the website             =*/
/*=================================================================*/
/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
/*COLOURS*/
:root{
    --colour-1: #373F6A;
    --colour-2: #ffffff;
    --colour-3: #e5bbf1d5;
}
/*DEFAULT*/
h1{
    font-size: 32px;
    color: var(--colour-1);
}
section{
    height: 100vh;
}
/*HEADER*/
header{
    width: 100%;
    height: 100px;
    background: var(--colour-1);
    display: flex;
    align-items:center;
    justify-content: space-between;
}
/*NAVIGATION BAR*/
.logo img{
    width: 120px;
    padding: 20px;
    transition: 0.5s;
}
.logo{
    transition: transform 0.3s;
}
.logo:hover{
    transform: rotate(360deg) 
}
.hamburger, .nav-social{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a {
    display: block;
    position: relative;
    color: var(--colour-2);
    font-size: 18px;
    padding: 10px 25px;
    margin: 0 5px;
    transition: .5s ease;
}
.nav-bar li a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-color: var(--colour-3);
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
    font-weight: 900;
}
.nav-bar ul li a:hover{
    color: var(--colour-3);
    font-weight: 400;
}
.nav-bar ul li a:hover:after{
    transform-origin: bottom left;
    transform: scale(1);
    color: var(--colour-3);
}
.nav-bar ul li a.active{
   color: var(--colour-3);
   font-weight: 900;
}
.sticky {
    position: fixed;
    top: 0;
    z-index: 1000; 
    transition: top 0.3s;
}
.sticky + section {
    margin-top: 100px; 
}
/*HOME*/
.home{
    display:flex;
    padding: 50px;
    margin: 50px;
}
h2 span{
    color: var(--colour-1);
}
.home-pic img{
    width: 500px;
}
.home-content{
    margin: 50px;
}
.home-content .home-socials{
    text-align: center;
}
.home-content .home-socials i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--colour-1);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--colour-1);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s;
}
.home-content .home-socials i:hover{
    background-color: var(--colour-1);
    color: var(--colour-2);
    transform: rotate(360deg);
    box-shadow: 0 0 1rem var(--colour-3);
}
/*ABOUT ME*/
#about{
    background-color: var(--colour-1);
    color: var(--colour-2);
}
#about h1{
    color: var(--colour-3);
    text-align: center;
    font-size: 40px;
}
.about{
    display:flex;
    padding: 20px;
    margin: 20px;
}
.about-content{
    margin: 50px;
}
.about-pic img{
    width: 500px;
}
#interest h1{
    text-align: center;
}
.interest{
    display: flex;
    transition: 0.5s;
}
.interest h2{
    color: var(--colour-1);
}
.interest i{
    font-size: 30px;
    color: var(--colour-1);
    padding: 5px;
    width: 200px;
    height: 50px;
    border:solid 5px var(--colour-1);
}
.interest i:hover{
    font-size: 30px;
    color: var(--colour-2);
    background-color: #373F6A;
}
.interest img{
    width: 100px;
}
.tech, .music, .food, .farm{
    text-align: center;
    padding: 10px;
    margin: 20px;
    width: 500px;
    height: 550px;
    border:solid 5px var(--colour-1);
    border-radius: 5%;
}
/*Table screen 1*/
@media only screen and (max-width: 1320px){
    /*home*/
    .home{
        display: block;
        padding: 0px;
    }
    .home-content{
        margin: 0px;
    }
    .home-pic img{
        width: 300px;
    }
    .home-content .home-socials{
        padding: 0px;
        margin:0px;
    }
    .home-content .home-socials i{
        width: 2rem;
        height: 2rem;
        font-size: 15px;
        margin: 4px;
    }
    .home-pic{
        text-align: center;
    }
       /*ABOUT*/
    .about{
        display: block;
        padding: 0px;
    }
    .about-content{
        margin: 0px;
    }
    .about-pic img{
        width: 300px;
    }
    .about-pic{
        text-align: center;
    }
    .interest{
        display: block;
    }
    .tech, .music, .food, .farm{
        text-align: center;
        padding: 10px;
        margin: 20px;
        width: 350px;
        height: 500px;
        border:solid 5px var(--colour-1);
        border-radius: 5%;
    }
}
/*Table screen 2*/
@media only screen and (max-width: 1070px){


}
@media only screen and (max-width: 700px){
    section{
        height: 130vh;
    }
    header{
        padding: 10px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 35px;
        height: 3px;
        background: var(--colour-2);
        margin: 9px 0;
        transition: 0.4s;
    }
    .line.cross:nth-child(2) {
        opacity: 0;
    }
    
    .line.cross:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }
    
    .line.cross:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }
    .nav-bar{
        height: 0px;
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        background: var(--colour-1);
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
    .nav-social{
        display: block;
        text-align: center;
    }
    .nav-social a{
        padding: 20px;
        font-size: 30px;
        color: var(--colour-2);
    }
    .nav-social a:hover{
        color: var(--colour-3);
    }
}
