/*=================================================================*/
/*=               This is the styling for the website             =*/
/*=================================================================*/
/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
/*COLOURS*/
:root{
    --colour-1: #373F6A;
    --colour-2: #ffffff;
    --colour-3: #e5bbf1d5;
    --colour-4: #70031d;
    --colour-5: #030338;

}
/*DEFAULT*/
h1{
    font-size: 40px;
    color: var(--colour-1);
    font-weight: 900;
}
h2{
    font-size: 35px;
    font-weight: 800;
}
/*HEADER*/
header{
    width: 100%;
    height: 100px;
    background: var(--colour-1);
    display: flex;
    align-items:center;
    justify-content: space-between;
}
/*NAVIGATION BAR*/
.logo img{
    width: 120px;
    padding: 20px;
    transition: 0.5s;
}
.logo{
    transition: transform 0.3s;
}
.logo:hover{
    transform: rotate(360deg) 
}
.hamburger, .nav-social{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a {
    display: block;
    position: relative;
    color: var(--colour-2);
    font-size: 18px;
    padding: 10px 25px;
    margin: 0 5px;
    transition: .5s ease;
}
.nav-bar li a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-color: var(--colour-3);
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
    font-weight: 900;
}
.nav-bar ul li a:hover{
    color: var(--colour-3);
    font-weight: 400;
}
.nav-bar ul li a:hover:after{
    transform-origin: bottom left;
    transform: scale(1);
    color: var(--colour-3);
}
.nav-bar ul li a.active{
   color: var(--colour-3);
   font-weight: 900;
}
.sticky {
    position: fixed;
    top: 0;
    z-index: 1000; 
    transition: top 0.3s;
}
.sticky + section {
    margin-top: 100px; 
}
/*HOME*/
.home{
    display:flex;
    padding: 50px;
    margin: 50px;
}
h2 span{
    color: var(--colour-1);
}
.home-pic img{
    width: 500px;
}
.home-content{
    margin: 50px;
}
.home-content .home-socials{
    text-align: center;
}
.home-content .home-socials i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--colour-1);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--colour-1);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s;
}
.home-content .home-socials i:hover{
    background-color: var(--colour-1);
    color: var(--colour-2);
    transform: rotate(360deg);
    box-shadow: 0 0 1rem var(--colour-3);
}
/*ABOUT ME*/
#about{
    background-color: var(--colour-1);
    color: var(--colour-2);
    padding: 50px;
}
#about h1{
    color: var(--colour-3);
    text-align: center;
    font-size: 40px;
}
.about{
    display:flex;
    padding: 20px;
    margin: 20px;
}
.about-content{
    margin: 50px;
}
.about-pic img{
    width: 500px;
}

#interest h1{
    text-align: center;
    padding: 40px;
}
.interest{
    display: flex;
    transition: 0.5s;
}
.interest h2{
    color: var(--colour-1);
}
.interest i{
    font-size: 30px;
    color: var(--colour-1);
    padding: 5px;
    width: 200px;
    height: 50px;
}
.interest-box button{
    width: 200px;
    height: 30px;
    color: var(--colour-1);
    background-color: var(--colour-2);
    border: solid 2px var(--colour-1);
}
.interest-box button:hover{
    color: var(--colour-2);
    background-color: var(--colour-1);
    border: solid 2px var(--colour-3);
}
.interest img{
    width: 100px;
}
.interest-box{
    text-align: center;
    padding: 10px;
    margin: 20px;
    width: 320px;
    height: 450px;
    border:solid 5px var(--colour-1);
    border-radius: 50px;
    transition: 0.5s;
}
.interest-box:hover{
    transform:scale(1.1)
}
#contact{
    background-color: var(--colour-1);
    padding: 50px;
}
#contact h1{
    text-align: center;
    color: var(--colour-3);
    padding: 50px;
}
#contact h3{
    text-align: center;
    color: var(--colour-2);
}
.contact{
    text-align: center;
}
::placeholder{
    color: var(--colour-2);
}
.form-input{
    padding: 15px;
}
input{
    width: 16.2rem;
    height: 3rem;
    padding: 1rem;
    color: var(--colour-2);
    border: solid var(--colour-2);
    background-color: var(--colour-1);
}
textarea{
    padding: 1rem;
    width: 32.5rem;
    color: var(--colour-2);
    border: solid var(--colour-2);
    background-color: var(--colour-1);
}
.btn{
    width: 32.5rem;
    height: 4rem;
    padding: 20px;
    transition: transform 0.3s;
}
.btn:hover{
    transform: scale(1.2); 
}
.footer{
    justify-content: space-between;
    transition: .5s ease;
    color: var(--colour-1);
    text-align: center;
}
.footer-text p{
   font-size: 15px;
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background:var(--colour-1);
    border-radius: .8rem;
    transition: transform 0.3s
}

.footer-iconTop a:hover{
    transform: scale(1.2); 
}
.footer-iconTop a i{
    font-size: 12px;
    color: var(--colour-2);
}


/*Table screen 1*/
@media only screen and (max-width: 1320px){
    /*home*/
    .home{
        display: block;
        padding: 0px;
    }
    .home-content{
        margin: 0px;
    }
    .home-pic img{
        width: 300px;
    }
    .home-content .home-socials{
        padding: 0px;
        margin:0px;
    }
    .home-content .home-socials i{
        width: 2rem;
        height: 2rem;
        font-size: 15px;
        margin: 4px;
    }
    .home-pic{
        text-align: center;
    }
       /*ABOUT*/
    .about{
        display: block;
        padding: 10px;
    }
    #about h1{
        padding: 40px;
        margin: 40px;
        font-size: 35px;
    }
    .about-content{
        margin: 0px;
    }
    .about-pic img{
        width: 300px;
    }
    .about-pic{
        text-align: center;
    }
    #interest h1{
        padding: 40px;
        margin: 40px;
        font-size: 35px;
    }
    .interest{
        display: block;
        text-align: center;
        align-items: center;
    }
    .interest-box{
        width: 380px;
    }
    h3{
        font-size: 12px;
    }
    #contact{
        padding: 50px;
    }
    input{
       margin: 10px;
       width: 300px;
    }
    textarea{
        width: 302px;
    }
    .btn{
        width: 300px;
    }

}
/*Table screen 2*/
@media only screen and (max-width: 1070px){


}
@media only screen and (max-width: 700px){
    header{
        padding: 10px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 35px;
        height: 3px;
        background: var(--colour-2);
        margin: 9px 0;
        transition: 0.4s;
    }
    .line.cross:nth-child(2) {
        opacity: 0;
    }
    
    .line.cross:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }
    
    .line.cross:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }
    .nav-bar{
        height: 0px;
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        background: var(--colour-1);
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
    .nav-social{
        display: block;
        text-align: center;
    }
    .nav-social a{
        padding: 20px;
        font-size: 30px;
        color: var(--colour-2);
    }
    .nav-social a:hover{
        color: var(--colour-3);
    }

}

.dev-header header{
    background-color: var(--colour-4);
}
.dev-header nav{
    background-color: var(--colour-4);
}
.dev-header nav ul li a{
    color: var(--colour-5);
    font-weight: 600;
}
.dev-header nav ul li .active{
    color: var(--colour-2);
}
.dev-header nav ul li a:hover{
    color: var(--colour-2);
    content: none;
    font-weight: 700;
}
.dev-header .nav-bar li a::after {
    content: none;
}
.heading-1{
    color: var(--colour-4);
}
.heading-2{
    color: var(--colour-5);
}
.heading-3{
    font-size: 30px;
    color: var(--colour-4);
}
.heading-3 span{
    font-size: 30px;
    font-weight: 700;
    color: var(--colour-5);
}

.home-content #home-socials i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--colour-4);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--colour-4);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s;
}
.home-content #home-socials i:hover{
    background-color: var(--colour-4);
    color: var(--colour-2);
    transform: rotate(360deg);
    box-shadow: 0 0 1rem var(--colour-3);
}
.skills{
    padding: 30px;
}
.skills h1{
    text-align: center;
}
.skills p{
    text-align: center;
}
.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skills-box{
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--colour-5);
    transition: .5s ease;
}

.skills-container .skills-box:hover{
    border-color:var(--colour-4);
    transform: scale(1.02);
}


.skills-box i{
    font-size: 3rem;
    color: var(--colour-5);
}
.skills-box p{
    font-size: 1.6rem;
    margin: 1rem 0.3rem;
    text-align: center;
}
.skill-dis{
    border: solid 2px var(--colour-5);
    background-color: var(--colour-4);
    color: var(--colour-5);
    font-weight: 500;
}
.portfolio h1{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--colour-4);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--colour-4));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 1.5rem;
    color: var(--colour-5);
}

.portfolio-layer p{
    font-size: 1rem;
    margin: .3rem 0 1rem;
    color: var(--colour-2);
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--colour-5);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 1.5rem;
    color: var(--colour-4);
}
.contacts{
    color: var(--colour-2);
}
.contacts h1{
    text-align: center;
    margin-top: 5rem;
    padding: 5rem;
}
.contacts form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contacts form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacts form .input-box input, 
.contacts form textarea{
    width: 100%;
    padding: 2rem;
    font-size: 1rem;
    color: var(--colour-2);
    border: solid .3rem var(--colour-5);
    background: var(--colour-4);
    margin: .7rem 0;
}

.contacts form .input-box input{
    width: 49%;
}

.contacts form textarea{
    resize: none;
}

.contacts form .btn{
    margin-top: 2rem;
    cursor: pointer;
    background-color: var(--colour-5);
    border:solid .3rem var(--colour-4);
}
.footer-info p{
    font-size: 1rem;
    color: var(--colour-5);
 }
 .footer-top a{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     padding: .8rem;
     background:var(--colour-5);
     border-radius: .8rem;
     font-weight: 900;
 }
 
 .footer-top a:hover{
     box-shadow: 0 0 1rem var(--colour-4);
 }
 
 .footer-top a i{
     font-size: 1rem;
     font-weight: 900;
     color: var(--colour-4);
 }
.contacts form .btn:hover{
    background-color: var(--colour-4);
    border:solid .3rem var(--colour-5);
}
@media only screen and (max-width: 1320px){
    .home-content #home-socials i{
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        margin: 5px;
    }
    .skills p{
        font-size: 15px;
    }
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}
.coming{
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 390px;
    height: 200px;
    border-radius: 3px;
    text-align: center;
}
.coming h1{
    color: var(--colour-5);
}
.coming h2{
    color: var(--colour-4);
}
.coming i{
    color: var(--colour-4);
    transition: transform 0.3s;
    font-size: 100px;
}
.coming i:hover{
    color: var(--colour-5);
    transform: rotate(360deg) 
}